.signup-wrapper{
    width: 70%;
    max-width: 600px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.title{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
   
}

.p-login{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 300;
    cursor: pointer;
}