.input-wrapper{
    margin-bottom: 1.5rem;
}

.label-input{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.custom-input{
    border-width: 0;
    border-bottom-width: 1px;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    width: 100%;
    opacity: 0.8;
}

.custom-input:focus{
    outline: none;
    border-bottom-color: var(--primary-color);
    opacity: 1.2;
    transform: all 0.2s;
}

.custom-input::placeholder{
    font-size: 0.9rem;
    opacity: 0.6;
    color: grey;
}